/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */

.top {
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
  padding: 180px 0 100px 0;
  color: white;
  text-align: center;
}

.box {
  width: 1170px;
  margin: 0 auto;
}

.box h1 {
  font-size: 45px;
  letter-spacing: 5px;
  opacity: 0.7;
}

.box p {
  opacity: 0.7;
}

.btn {
  padding: 8px 24px;
  border-radius: 4px;
  opacity: 0.8;
  color: white;
  display: inline-block;
}

.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.or {
  padding: 15px 0;
}

.icon {
  margin-right: 5px;
}

.mt {
  margin-top: 30px;
}

header {
  height: 65px;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  z-index: 10;
  width: 100%;
}

.box {
  width: 1170px;
  margin: 0 auto;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.headerlink {
  float: right;
}

header a {
  padding: 25px;
  line-height: 65px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  transition: all 0.5s;
}

header a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.contents {
  height: 580px;
  background-color: #f7f7f7;
  padding-top: 80px;
  text-align: center;
}

.contents h2 {
  font-weight: normal;
  color: #5f5d60;
  margin-bottom: 50px;
}

.content {
  width: 25%;
  float: left;
  position: relative;
}

.language {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.caption {
  color: #b3aeb5;
  font-size: 13px;
  margin-top: 15px;
  width: 80%;
  display: inline-block;
}

.message {
  padding: 80px 0;
  text-align: center;
}

.message h2 {
  font-weight: normal;
  color: #5f5d60;
}

.message h3 {
  margin-bottom: 50px;
  color: #5f5d60;
}

.development-btn {
  background-color: #5dca88;
  padding: 15px 40px;
  border-radius: 4px;
  box-shadow: 0px 7px  #1a7940;
  color: white;
  opacity: 0.8;
}

.development-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.development-btn:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}